/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*  General styles */
body, html {
    height: 100%;
    font-family: Libre, sans-serif;
}

/* Navigation Bar */
.navbar {
    background-color: #003135;
    padding: 17px 22px;
    position: fixed;
    width: 100%;
    height: 10%;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu {
    list-style: none;
    display: flex;
}

.nav-menu li {
    margin-left: 20px;
}

.nav-menu li a {
    color: #f0f0f0;
    font-size: 1.5rem;
    text-decoration: none;
}

.nav-menu li a:hover {
    color: #f0f0f0;
}

/* ----------- Home page - all components ------------*/

/* Cover Image Section */
.cover-container {
    background-image: url('assets/images/neural.netw.L.cover.f.jpg'); 
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.cover-container img {
    height: 132vh;
}

/* Tinted overlay on image for readability */
.overlay {
    background-color: rgba(0, 0, 0, 0.2); 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 132vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.maincontent {
    text-align: center;
    color: #fff;
    z-index: 99;
    align-items: center;
}

.logo-centered {
    width: 100px;
    height: auto;
    margin-bottom: 20px;
    align-items: center;
}

.maincontent img {
    width: 8%;
    height: 8%;
    z-index: 99;
    align-items: center;
}

/* General heading styles home page */ 
.maincontent h1 {
    font-size: 3rem;
    margin-bottom: 10px;
    color: #fff;
    text-align: center;
}

.maincontent h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #fff;
    text-align: center;
}

/* Discover CTA button */ 
.cta-button {
    background-color: #3EB9BB;
    color: #fff;
    padding: 17px 30px;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 5px;
    align-items: center;
    margin-top: 50px;
}

.cta-button:hover {
    background-color: #3EB9BB;
    align-items: center;
}

/* Footer */
.footer {
    background-color: #f0f0f0; 
    padding: 20px 0;
    height: 10%;
}
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    z-index: 99;
    height: 10%;
    margin-bottom: 15%;
}

#social-networks i {
    font-size: 15px;
    padding: 20%;
    color: #3a3a3a;
    z-index: 99;
    display: flex;
}


/* ----------- Products & services page --------------- */

.pscontainer {
    display: flex;
    height: 100vh;
    width: 100vw;
    padding-left: 35px;
}

.pscontent {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    padding-top: 10%;  
}

.product-list {
    list-style-type: disc;
    margin-bottom: 20px;
    padding-left: 35px;
    padding-bottom: 20px;
    font-size: 1.5rem;
}
  
.column-section {
    flex: 1 1 100%; /* Base width of 100% for small screens */
    padding: 10px; /* Padding for each column */
    margin-bottom: 14px; /* Space between rows */
    background: #fff;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    flex-direction: column;
    
    /* For small screens, display as a single column */
    column-count: 1; /* Single column by default */
    column-gap: 20px; /* Space between columns */
}

.column-section >h2 {
    font-size: 2rem;
} 
.column-section >p {
font-size: 2rem;
}

.image-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center 
}

.image-container img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}


/* ------- Media query sizes 480px and up) -------*/
@media (max-width: 480px) {

/* Home page elements */
  
.pscontainer {
    width: 100%; /* Full width on very small screens */
    padding: 10px; /* Further reduced padding */
}

.cta-button {
    padding: 10px 20px;
    font-size: 0.9rem;
    align-items: center;
}
.nav-menu li a {
    font-size: 100%;
    text-align: justify;
}
     
.nav-menu {
    font-size: 1rem;
}
.logo-centered {
    width: 80px;
} 
 
 /* Footer */
   
#social-networks i {
    font-size: 25px;
}

}
/* ------ Media query: large or landscape phones (576px and up to 768px) ------*/
@media (max-width: 768px) {

/* Change to two columns on larger screens */
.column-section {
    column-count: 2; 
}

/* Optional styles for text appearance */
.pscontent > p {
    break-inside: avoid; /* Prevent paragraph break within a column */
    margin-bottom: 15px; /* Space between paragraphs */
    font-size: 50%;
}
.pscontainer {
    /* Slightly wider for smaller screens */
    width: 95%; 
    /* Reduced padding for mobile */
    padding: 15px; 
}

.pscontainer >h1 {
    font-size: 60%;
}

.image-container {
    height: 300px; 
}

.logo-centered {
    align-items: center;
    width: 100px;
}

.navbar {
    height: 10%;
}

.nav-menu {
    font-size: 1rem;
}

.maincontent {
    width: 130%;
    height: 130%;
}

.cta-button {
    padding: 12px 25px;
    font-size: 1rem;
}
   
#social-networks i {
    font-size: 30px;
    z-index: 99;
}
.footer {
    background-color: #f0f0f0; 
    height: 10%;
}
}

/* ------ Media query: large or landscape phones ( 900px and up to 1024px) ------*/
@media (min-width: 769px) and (max-width: 1024px) {

/* Change to three columns on larger screens */
.column-section {
    column-count: 3; 
}

.column-section {
    padding: 20px;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
}

.navbar {
    height: 10%;
 }

 .nav-menu li a {
    font-size: 120%;
}

.column-section h2 {
    font-size: 5rem;
} 
.column-section >p {
    font-size: 50%;
}

#social-networks i {
    font-size: 40px;
}
.footer {
    height: 10%;
}

.maincontent {
    width: 150%;
    height: 150%;
}
}

/* ------ Media query: large or landscape phones ( 900px and up to 1024px) ------*/
@media (min-width: 1024px) and (max-width: 1920px) {

.nav-menu li a {
    font-size: 160%;
}
.column-section h2 {
    font-size: 5rem;
} 
.column-section p {
font-size: 5rem;
}
#social-networks i {
    font-size: 80px;
}

.maincontent {
    width: 160%;
    height: 160%;
}
}

