/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*  General styles */
body,
html {
	height: 100%;
	font-family: Lato, sans-serif;
	height: 100%;
}

/* Navigation Bar */
.navbar {
	background-color: #1F8BA5;
	padding: 17px 22px;
	position: fixed;
	width: 100%;
	height: 10%;
	top: 0;
	z-index: 10;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav-menu {
	list-style: none;
	display: flex;
	flex-direction: row;
	/* Set items in a horizontal row */
}

.nav-menu li {
	margin-left: 20px;
}

.nav-menu li a {
	color: #f0f0f0;
	font-size: 1.5rem;
	text-decoration: none;
	letter-spacing: 2px;
}

.nav-menu li a:hover {
	color: #f0f0f0;
}

/* ----------- Home page - all components ------------*/

/* Cover Section */
.cover-container {
	background-image: url('assets/images/pexels298905.jpg');
	background-size: cover;
	background-position: center;
	height: 100vh;
	width: 100vw;
	background-attachment: fixed;
	/* Ensure background scales with screen */
	position: relative;
	overflow: hidden;
	padding-bottom: 80px;
}

.cover-container img {
	height: 100vh;
}

/* Tinted overlay on image for readability */
.overlay {
	background-color: #121e1274;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	padding-bottom: 80px;
}

.maincontent {
	text-align: center;
	color: #fff;
	z-index: 99;
	align-items: center;
	margin-top: 40vh;
	padding: 20px;
	margin: 0;
}

.logo-centered {
	margin-bottom: 20px;
	align-items: center;
}

/* Image Styling to Maintain Proportions */
.maincontent img {
	max-width: 10%;
	/* Constrain width within container */
	height: auto;
	/* To maintain aspect ratio */
	width: 67px;
	/* Default width */
	z-index: 99;
}


/* General heading styles home page */
.maincontent h1 {
	font-size: 3.5rem;
	margin-bottom: 5px;
	color: #fff;
	text-align: center;
}

.maincontent h2 {
	font-size: 1.8rem;
	/* Increased font size */
	margin-bottom: 10px;
	color: #fff;
	letter-spacing: 8px;
}

/* Discover CTA button */
.cta-button {
	background-color: #1F8BA5;
	color: #fff;
	padding: 17px 30px;
	text-decoration: none;
	font-size: 1.8rem;
	border-radius: 5px;
	align-items: center;
	margin-top: 20px;
	display: inline-block;
}

.cta-button:hover {
	background-color: #212A31;
	align-items: center;
}

/* Footer */
.footer {
	background-color: #1F8BA5;
	color: white;
	text-align: center;
	padding: 10px 0;
	position: absolute;
	z-index: 0;
	width: 100%;
	bottom: 0;
}

#social-networks {
	display: flex;
	justify-content: center;
	list-style-type: none;
	padding: 10px 0;
	margin: 0;
}

#social-networks i {
	font-size: 2rem;
	padding: 10px;
	color: #f0f0f0;
	z-index: 99;
	letter-spacing: 40px;
}

/* Media query for small phone*/
@media (min-width: 320px) and (max-width: 576px) {

.navbar {
	padding: 20px 20px;
/* Increased padding for better visibility */
}

.cover-container {
	background-size: contain;
/* Ensure the image fits smaller screens */
	height: 100vh;
}

.maincontent {
	margin-top: 20vh;
	padding: 15px;
}

.maincontent img {
	width: 80px;
/* Scales up for small screens */
}

.nav-menu {
	flex-direction: column;
}

.nav-menu li {
	margin-left: 0;
	margin-bottom: 16px;
}

.maincontent h1 {
	font-size: 3rem;
	line-height: 1.3;
/* Adjusted line height for better readability */
}

.maincontent h2 {
	font-size: 1.5rem;
	letter-spacing: 2.5px;
}

.cta-button {
	font-size: 1.2rem;
	padding: 15px 30px;
/* Adjusted padding for easier tapping */
	margin-top: 20px;
}

.maincontent img {
	width: 100px;
/* Smaller width for small screens */
}

.footer {
	padding: 15px 0;
/* Adjust padding for smaller screens */
}

#social-networks i {
	font-size: 1.5rem;
/* Smaller icons for small screens */
}
}

/* Large phone screens media queries */
@media (min-width: 576px) and (max-width: 767px) {

.maincontent {
	padding: 20px;
	margin-top: 30vh;
/* Adjusted margin for smaller screens */
}

.maincontent img {
	width: 100px;
}

.maincontent h1 {
		-size: 2.7rem;
}

.maincontent h2 {
	font-size: 1rem;
	letter-spacing: 4px;
}

.cover-container {
	height: 100vh;
}

footer {
	padding: 20px 0;
}

#social-networks i {
	font-size: 1.8rem;
}
}

/* Tablet screens media queries */
@media (min-width: 768px) and (max-width: 991px) {

.maincontent {
	padding: 20px;
	margin-top: 40vh;
}

.maincontent img {
	width: 120px;
}

.maincontent h1 {
	font-size: 3.5rem;
}

.maincontent h2 {
	font-size: 1.7rem;
}

.cover-container {
		height: 100vh;
}

.footer {
	padding: 25px 0;
/* Increase padding for medium screens */
}

#social-networks i {
	font-size: 2rem;
}
}


/* Desktop screens media queries */
@media (min-width: 992px) {

.nav-menu li {
	margin-left: 40px;
}

.maincontent {
	padding: 20px;
	margin-top: 50vh;
}

.maincontent img {
	width: 140px;
}

.maincontent h1 {
	font-size: 4rem;
}

.maincontent h2 {
	font-size: 2rem;
}

.cover-container img {
	width: 100%;
}

.footer {
	padding: 30px 0;
/* More padding for larger screens */
}

#social-networks i {
	font-size: 2rem;
/* Consistent size for large screens */
}
}

/* Large laptop screens media queries */
@media (min-width: 1200px) {

.nav-menu li {
	margin-left: 50px;
}

.maincontent {
	padding: 20px;
	margin-top: 50vh;
}

.maincontent img {
	width: 110px;
}

.maincontent h1 {
	font-size: 5.2rem;
}

.maincontent h2 {
	font-size: 2.1rem;
}

.cover-container {
	width: 100%;
}

.footer {
	padding: 35px 0;
/* Further increase padding for very large screens */
}

#social-networks i {
	font-size: 2rem;
}
}

/* ----------- Products & services page --------------- */
header {
    text-align: center;
    padding: 20px;
    font-size: 2rem;
    margin-top: 20px;
}

header h1 {
    position: sticky;
    top: 0;
    font-size: 2.5rem;
    background-color: white;
    z-index: 1;
    padding: 20px 0;
    margin: 0;
    text-align: center;
	margin-top: 8vh;
}

/* Main Container */
.pscontainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 10px 20px;
	width: 100%;
}

/* Products Section */
.products-wrapper {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	gap: 20px;
}

.products-section {
    display: flex;
    flex-wrap: wrap; /* Enables wrapping for smaller screens */
    gap: 20px;
	flex-direction: column;
	flex: 1;
}

.columns {
    padding: 19px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
    border: 1px solid #ccc;
    margin: 10px 0;
    width: 100%;
	line-height: 1.6; 
	flex: 1 1 48%; /* Two columns, each taking about half the width */
	flex: 1; /* Order for columns to appear first */
}

.columns h2 {
    font-size: 2.2rem;
    margin: 10px 0;
}

.columns p {
    font-size: 1.7rem;
    margin-bottom: 16px;
    word-wrap: break-word;
	line-height: 35px
}

/* Image Section */
.products-image {
    display: flex;
    padding: 20px;
	width: 100%;
	justify-content: center;
	flex: 3; /* Places image at the bottom */
}

.products-image img {
	width: 100%;
    height: auto;
	max-height: 80vh;
	object-fit: contain;
}

/* Footer */
.footer {
    background-color: #1F8BA5;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    z-index: 0;
    width: 100%;
}

#social-networks {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 10px 0;
    margin: 0;
}

#social-networks i {
    font-size: 2rem;
    padding: 10px;
    color: #f0f0f0;
    letter-spacing: 40px;
}

/* Media query for small phone*/
@media (min-width: 320px) and (max-width: 575px) {

.products-wrapper {
    flex-direction: column;
	display: flex;
	gap:20px;
}

.products-section {
    display: flex;
    gap: 20px;
	margin-bottom: 20px; 
	flex-direction: row;
	flex-wrap: wrap;
}

.columns {
    flex: 1 1 40%; /* Two columns, each taking about half the width */
	box-sizing: border-box;
	flex: 1; 
}
.columns h2 {
    font-size: 1.8rem;
}

.columns p {
    font-size: 1.7rem;
}

/* Ensure image occupies full width */
.products-image {
	flex-basis: 100%; 
	flex: 3; /* Places image below text */
}

.products-image img {
	width: 100%; 
	height: auto;
	max-height: 50vh;  
}
}

/* Larger phone screens*/
@media (min-width: 576px) and (max-width: 768px) {
.products-wrapper {
	flex-direction: column;
	display: flex;
}

.products-section {
    display: flex;
    flex-wrap: wrap;
	gap: 20px;
	margin-bottom: 20px; 
	flex-direction: row;
}

.products-image {
	flex-basis: 100%;
	flex: 3; 
}

/* Ensure image occupies full width */
.products-image img {
    width: 100%;
    max-height: 60vh;
 }

.products-image {
	order: 3; 
}

.columns {
    flex: 1 1 43%;  /* Two columns */
}
.columns h2 {
    font-size: 2rem;
}

.columns p {
    font-size: 1.5rem;
}
}

/* Screens for ipads and small laptops*/
@media (min-width: 768px) {
.products-wrapper {
    flex-direction: column;
    gap: 20px;
}

.products-section {
    flex: 1;
	display: flex;
    flex-direction: row;
	flex-wrap: nowrap;
}

.products-image {
    max-width: 100%; /* Image takes up half the width */
    padding-left: 20px;
	flex: 3;
	padding-top: 20px;
	height: 230vh;

}

.products-image img {
    width: 100%;
	height: contain;
}

.columns {
	flex: 1 1 48%;
}
}


/* Large screens: 992px and up - Switch to two-column layout */
@media (min-width: 992px) {
.products-wrapper {
    flex-direction: row;
    gap: 20px;
}

.columns h2 {
    font-size: 2.5rem;
}

.columns p {
    font-size: 1.9rem;
}

.products-image img {
	width: 100%;
	max-height: 180vh;
}
}

/* Extra-large screens: 1200px and up */
@media (min-width: 1200px) {

.products-wrapper {
    flex-direction: row;
    gap: 20px;
}

.pscontainer h1 {
	font-size: 2.5em;
}

.products-section {
    gap: 40px;
}

.columns h2 {
    font-size: 2.5rem;
}

.columns p {
    font-size: 2.2rem;
	line-height: 50px;
}

.products-image img {
     max-height: 500vh;	
}
}

/* ------------- Contact us page ---------------*/

.contact-container h2, h3 {
	text-align: center;
	color: #212A31;
	font-size: 1rem;
}

.contact-container h1 {
	margin-bottom: 4%;
	font-size: 2.5rem;
	text-align: center;
	margin-top: 20%;
}

.contact-container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px;
	background-color: #3964641c;
	border-radius: 8px;
    box-shadow: 0 2px 8px #00372A;
}

.contact-content {
	display: flex;
	flex-direction: column;
}

.form-section,
.address-section {
	width: 100%;
	margin-bottom: 20px;
}

form {
	background-color: #fff;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 2px 8px #00372A;
	margin-bottom: 20px;
}

form label {
	display: block;
	margin-bottom: 5px;
	font-weight: bold;
}

form input,
form textarea {
	width: 100%;
	padding: 10px;
	margin-bottom: 15px;
	border: 1px solid #3a3a3a;
	border-radius: 4px;
	box-sizing: border-box;
}

form button {
	width: 100%;
	padding: 10px;
	background-color: #3EB9BB;
	color: #fff;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 16px;
}

form button:hover {
	background-color: #3EB9BB;
}

.address-section {
	text-align: center;
}

.address-section p {
	font-size: 17px;
	margin-bottom: 10px;
}

/* Small phone screens*/
@media (min-width: 320px) and (max-width: 575px) {
.contact-container h1 {
	font-size: 1.5rem;
}
form input, form textarea {
	font-size: 14px;
	padding: 12px;
}

form button {
	font-size: 14px;
	padding: 12px;
}
}
/* Larger phone screens*/
@media (min-width: 576px) and (max-width: 767px) {
.contact-container h1 {
        font-size: 1.75rem;
}

form input, form textarea {
        font-size: 15px;
        padding: 14px;
}

form button {
        font-size: 15px;
        padding: 14px;
}
}

/*iPads & laptops*/
@media (min-width: 768px) and (max-width: 991px) {
.contact-container h1 {
    font-size: 2rem;
 }

form input, form textarea {
    font-size: 16px;
     padding: 16px;
}

form button {
    font-size: 19px;
    padding: 16px;
}

form label {
	display: block;
	margin-bottom: 5px;
	font-weight: bold;
	font-size: 1.2rem;
}
.contact-container h2, h3 {
	font-size: 1.7rem;
}
.address-section p {
	font-size: 19px;
	margin-bottom: 10px;
}
}

/* Laptop screens*/
@media (min-width: 992px) {
.contact-container h1 {
    font-size: 2.25rem;
}

form input, form textarea {
    font-size: 17px;
    padding: 18px;
}

form button {
    font-size: 17px;
    padding: 18px;
}
form label {
	display: block;
	margin-bottom: 5px;
	font-weight: bold;
	font-size: 1.6rem;
}
.contact-container h2, h3 {
	font-size: 1.9rem;
}
.address-section p {
	font-size: 23px;
	margin-bottom: 10px;
}
}

/* Large laptop screens media queries */
@media (min-width: 1200px) {
.contact-container h1 {
    font-size: 2.5rem;
}

form input, form textarea {
    font-size: 20px;
    padding: 20px;
}

form button {
    font-size: 20px;
    padding: 20px;
}
form label {
	display: block;
	margin-bottom: 5px;
	font-weight: bold;
	font-size: 1.5rem;
}
.contact-container h2, h3 {
	font-size: 2rem;
}
.address-section p {
	font-size: 25px;
	margin-bottom: 10px;
}
}