/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*  General styles */
body, html {
    height: 100%;
    font-family: Lato, sans-serif;
}

/* Navigation Bar */
.navbar {
    background-color: #003135;
    padding: 17px 22px;
    position: fixed;
    width: 100%;
    height: 10%;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu {
    list-style: none;
    display: flex;
    flex-direction: row; /* Set items in a horizontal row */
}

.nav-menu li {
    margin-left: 20px;
}

.nav-menu li a {
    color: #f0f0f0;
    font-size: 1.5rem;
    text-decoration: none;
    letter-spacing: 2px;
}

.nav-menu li a:hover {
    color: #f0f0f0;
}

/* ----------- Home page - all components ------------*/

/* Cover Section */
.cover-container {
    background-image: url('assets/images/neural.netw.L.cover.f.jpg'); 
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    background-attachment: fixed; /* Ensure background scales with screen */
    position: relative;
    overflow: hidden; /* Prevent image overflow */
}

.cover-container img {
    height: 100vh;
}

/* Tinted overlay on image for readability */
.overlay {
    background-color: #00000077; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.maincontent {
    text-align: center;
    color: #fff;
    z-index: 99;
    align-items: center;
    margin-top: 20px;
    padding: 20%;/* Adjusted margin for smaller screens */
    margin-top: 20vh; /* Added more top margin for spacing from navbar */
}

.logo-centered {
    margin-bottom: 20px;
    align-items: center;
}

/* Image Styling to Maintain Proportions */
.maincontent img {
    max-width: 100%;  /* Constrain width within container */
    height: auto;     /* To maintain aspect ratio */
    width: 67px;      /* Default width */
    z-index: 99;
}


/* General heading styles home page */ 
.maincontent h1 {
    font-size: 3.5rem;
    margin-bottom: 10px;
    color: #fff;
    text-align: center;
}

.maincontent h2 {
    font-size: 2rem; /* Increased font size */
    margin-bottom: 15px;
    color: #fff;
    letter-spacing: 5px;
}

/* Discover CTA button */ 
.cta-button {
    background-color: #003135;
    color: #fff;
    padding: 17px 30px;
    text-decoration: none;
    font-size: 1.8rem;
    border-radius: 5px;
    align-items: center;
    margin-top: 20px;
    display: inline-block;
}

.cta-button:hover {
    background-color: #212A31;
    align-items: center;
}

/* Footer */
.footer {
    background-color: #f0f0f0; 
    padding: 20px 0;
    height: 10%;
    z-index: -1;
    text-align: center;
}

#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    z-index: 99;
    height: 10%;
    margin-bottom: 15%;
}

#social-networks i {
    font-size: 1.5rem;
    padding: 20%;
    color: #3a3a3a;
    z-index: 99;
    display: flex;
}

/* Media query for small phone*/
@media (min-width: 320px) and (max-width: 576px) {

.navbar {
    padding: 20px 20px;/* Increased padding for better visibility */
    }

.cover-container {
    background-size: contain; /* Ensure the image fits smaller screens */
    height: 100vh;
    }

.maincontent {
   margin-top: 25vh; /* Increased top margin for smaller screens */
   padding: 20px;
    }
.maincontent img {
    width: 80px;  /* Scales up for small screens */
    }
.nav-menu {
    flex-direction: column;
    }

.nav-menu li {
    margin-left: 0;
    margin-bottom: 16px;
    }

.maincontent h1 {
    font-size: 3.8rem !important; /* Increased font size */
    line-height: 1.3; /* Adjusted line height for better readability */
    }

.maincontent h2 {
    font-size: 2.1rem !important; /* Increased font size */
    letter-spacing: 2.5px;
    }

.cta-button {
    font-size: 1.2rem; /* Increased font size */
    padding: 15px 30px; /* Adjusted padding for easier tapping */
    margin-top: 20px;
    }

.maincontent img {
        width: 100px; /* Smaller width for small screens */
    }
}

/* Large phone screens media queries */  
@media (min-width: 576px) and (max-width: 767px) {

.maincontent {
        margin-top: 20vh;
    }
.maincontent img {
     width: 100px;
    }

.maincontent h1 {
        font-size: 3rem;
    }

.maincontent h2 {
        font-size: 1.5rem;
    }
.cover-container {
        height: 100vh;
    }
}  


/* Tablet screens media queries */
@media (min-width: 768px) and (max-width: 991px) {

.maincontent {
        margin-top: 18vh;
    }
.maincontent img {
        width: 120px;
    }
.maincontent h1 {
        font-size: 3.5rem;
    }

.maincontent h2 {
        font-size: 1.7rem;
    }

.cover-container {
        height: 100vh;
    }
}

/* Desktop screens media queries */
@media (min-width: 992px) {
.maincontent {
        margin-top: 20vh;
    }
.maincontent img {
        width: 140px;
    }
.maincontent h1 {
        font-size: 4rem;
    }

.maincontent h2 {
        font-size: 2rem;
    }

.cover-container img {
        width: 100%;
    }
}

/* Large laptop screens media queries */
@media (min-width: 1200px) {
/* Nav bar */
.maincontent {
    margin-top: 2vh;
}
.maincontent img {
    width: 160px;
}

.maincontent h1 {
    font-size: 6.5rem;
}

.maincontent h2 {
    font-size: 3.1rem;
}

.cover-container {
   width: 100%;
}
}

/* ----------- Products & services page --------------- */
header {
    text-align: center;
    padding: 20px;
    margin-top: 22%;
    font-size: 2rem;
}

.pscontainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-left: 40px;
    margin-right: 40px;
}
  
.pscontainer h4 {
    margin-top: 11px;
    font-size: 2rem;
}
  
.ps-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-left: 50px;
}
  
.products-text-section h2  {
    padding: 20px;
    flex: 1;
    font-size: 2.1rem;
    padding-left: 50px;
}
.products-text-section p {
    font-size: 2rem;  
    padding-left: 50px;
}
.products-columns {
    display: flex;
    flex-direction: column;
    column-gap: 25px;
    padding-left: 40px;
    padding-right: 40px;
}
  
.columns h2 {
    font-size: 2.6rem ;
}
.columns p {
    font-size: 2rem;
/* Default spacing for paragraphs */
    margin-bottom: 24px; 
}
.columns {
    padding: 16px;
    border: 1px solid #ccc;
    margin: 13px 0;
    padding-left: 40px;
}
  
 /* Image section */
.products-image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 20px;
}
  
.products-image img {
    width: 100%;
    height: auto;
    max-height: 100vh;
    object-fit: cover;
}


/* Media query for small phone*/
@media (min-width: 320px) and (max-width: 575px) {
    
/* Products page  */
.pscontainer {
    width: 100%; 
    padding: 10px; 
}

.products-columns {
    flex-direction: row;
    flex: 2;
    justify-content: space-between;
}

/* Products page contents*/
.columns {
    flex: 1;
 }

/* Remove margin-right on the last column */
.columns:last-child {
    margin-right: 0;
 }
.products-image {
    flex: 1;
 }

.products-image img {
    height: 100vh;
    object-fit: cover;
}
header {
    font-size: 80px;
}
.pscontainer h1,h4 {
    font-size: 220%;
}

.products-columns {
    flex-direction: row;
    flex: 2;
    justify-content: space-between; 
}

.columns p {
    font-size: 4rem;
}
.columns {
    flex: 1;
    margin-right: 10px;
}

.columns h2 {
    font-size: 4rem;
}

/* image section */
.products-image {
    flex: 1;
}

.products-image img {
    height: 100vh;
    object-fit: cover;
 }

}


/* ------------- Contact us page ---------------*/

.contact-container h2, h3 {
    text-align: center;
    color: #212A31;
}
.contact-container h1 {
    margin-bottom: 4%;
    font-size: 2rem;
}
.contact-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 8%;
}

.contact-content {
    display: flex;
    flex-direction: column;
}

.form-section, .address-section {
    width: 100%;
    margin-bottom: 20px;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px #00372A;
    margin-bottom: 20px;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #3a3a3a;
    border-radius: 4px;
    box-sizing: border-box;
}

form button {
    width: 100%;
    padding: 10px;
    background-color: #3EB9BB;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

form button:hover {
    background-color: #3EB9BB;
}

.address-section {
    text-align: center;
}

.address-section p {
    font-size: 16px;
    margin-bottom: 10px;
}
/* Small phone screens*/
@media (min-width: 320px) and (max-width: 575px) {

}

/* Larger phone screens*/
@media (min-width: 576px) and (max-width: 767px) {

/*iPads & laptops*/
@media (min-width: 768px) and (max-width: 991px) {

/* Laptop screens*/
@media (min-width: 992px) {

/* Large laptop screens media queries */
@media (min-width: 1200px) {
}